html {
    overflow: auto;
}
h2{
    border-bottom: 2px solid rgb(30, 117, 10);
}
h4{
    border-bottom: .5px solid rgb(30, 117, 10);
}
span{
    font-size: 20px;
    color: rgb(10, 198, 70);
    font-weight: bold;
}
.b0{
    display: flex;
    justify-content: space-evenly;
    
}
.b2{
    width: 40vw;
    padding-left: 5%;
}
.kuma{
    color: #2a4aca;
}


.top_p1{
    display: block;
    margin: 2% 2% 5% 80%;
    font-size: 1.3em;
    white-space: nowrap;
}
a:link{
    color: #f18140;/*未訪問*/
}
a:visited{
    color: #7f5339;/*訪問済み*/
}

@media(max-width: 850px){
    .b0{
        display: block;
    }
    .b2{
        width: 100%;
        padding-left: 0;
    }
    .top_p1{
        display: block;
        margin: 0 0 0 65%;
    }
} 
